setuptools>18.5  # cryptography requires setuptools 18.5 or newer
pyop>=2.0.4,<2.1.0
Flask>=0.12.2,<0.13
requests==2.9.1
certifi
pymongo==3.2.2
redis==2.10.5
rq==0.11.0
rq-scheduler==0.8.3
Flask-Registry==0.2.0
pyjwkest
--extra-index-url https://pypi.sunet.se/simple/
mitek-mobile-verify
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
